#content{
	background-color: blue;
	background-image: url("7.1.png");
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#content2{
	background-image: url("atom.jpg");
	background-position: center top;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#content3{
	background-image: url("atom2.png");
	background-position: top;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#content4{
	background-image: url("bg3.jpg");
	background-position: right;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#iz{
	background: #content{
	background-color: blue;
	background-image: url("7.1.png");
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#content2{
	background-image: url("atom.jpg");
	background-position: center top;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#content3{
	background-image: url("atom2.png");
	background-position: top;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#content4{
	background-image: url("bg3.jpg");
	background-position: right;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;
}

#iz{
	background: turquoise url(atom3.png) round scroll right;
}

.text{
	text-align: center;
	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 18px;
}
